<div class="footer">
  <div class="icon">
    <div inlineSVG="assets/icons/figma/graph.svg"></div>
    <span>پرتفوی</span>
  </div>
  <div class="icon">
    <div inlineSVG="assets/icons/figma/bag-happy.svg"></div>
    <span>سفارشات</span>
  </div>
  <div class="icon">
    <div inlineSVG="assets/icons/figma/eye.svg"></div>
    <span>دیدبان</span>
  </div>
  <div class="icon">
    <div inlineSVG="assets/icons/figma/search-normal.svg"></div>
    <span>جستجو</span>
  </div>
  <div class="icon">
    <div inlineSVG="assets/icons/figma/category.svg"></div>
    <span>سایر</span>
  </div>
</div>
